.container{
    width:100vw;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width:670px;
    height:auto;
    border: 1px solid #45b751;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

.main  span{
    color: #fa6000;
}
.main > button{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    background-color: #45b751;
    border:none;
    cursor: pointer;
    transition: background-color 0.3s,color 0.3s;
    margin-top: 50px;
    color: white;
}
.main > button:hover{
    border: 1px solid #45b751;
    background-color: #ffffff;
    color: black;
}
.main >.findAndSignUpArea> a{
    font-size: 12px;

}
.main > div {
    width:63%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 20px;

}

.main input{
    width:260px;
    height:30px;
    outline: none;
}
.main >div>button{
    font-size: 12px;
}

.findAndSignUpArea{
    margin-top: 50px;
    width:70%;
    height:50px;
    display: flex;
    justify-content: space-between;
}
input:focus{
    border:3px solid #45b751;
    text-align: left;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}