.container{
    width:100%;
    height:150px;
    display: flex;
    justify-content: center;
}
.main{
    width: 80%;
    height:100%;
    font-size: 13px;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #d8d8d8;
}
.main table{
    width:500px;
    height: 100px;
    align-content: center;
}
.main thead{
    height: 30px;
}

.main tr > td:nth-child(2) {
    width: 250px;
    height: 20px;
}