.imgBox {
  position: relative;
  height: 650px;
 
}

.loadingImg {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.loadingText {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}