.container{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.main{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.section1{
    width: 80%;
    height: 80%;
    border: 1px solid gray;
}
.section2{
    width: 80%;
    height: auto;
    border: 1px solid #45B751;
}
.purchaseList{
    width: calc(100% - 2px);
    height:150px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}
.bookImg{
    width: 20%;
    display: flex;
    justify-content: center;

}
.purchaseListHeader{
    width: calc(100% - 2px);
    height: 30px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}
.bookCover{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookTitle{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookPrice{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.bookAmount{
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.bookAmount> input{
    text-align: center;
    width: 30px;
    height: 30px;
}
.bookTotalPrice{
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.totalPrice{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noPurchaseList{
    width: calc(100% - 2px);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.username, .userTel, .userAddress{
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: 1px solid #b7b7b7;
}

.key{
    width: 20%;
    height: 100%;
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.value{
    width: calc(80% - 10px);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #fff;
}
.value>input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 20px;

}
.deleteBtn{
    width: 50px;
    height: 25px;
    transition :background-color 0.3s;
    cursor: pointer;
}
.deleteBtn:hover{
    background-color: rgba(255, 0, 0, 0.34);

}

