*{
    margin: 0; padding: 0;
}
.container {
    width: 100%;
    height: 100px;
    min-width: 1024px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #45b751;
    top: 0;
    background-color: white;
    z-index: 10;

}

.logo {
    margin-left: 50px;
    color: #45B751;
    font-size: 32px;
}

.functionBox {
    min-width: 738px;
    width: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart {
    width: 40px;
    height: 40px;
    background-image: url("../../../public/image/cart.png");
    background-size: contain;
    border: none;
    cursor: pointer;
    margin:0 20px;
}

.myInfo {
    width: 40px;
    height: 40px;
    background-image: url("../../../public/image/myInfo.png");
    background-size: contain;
    border: none;
    cursor: pointer;
    margin:0 20px 0 10px;
}

.search {
    width: 350px;
    height: 44px;
    border-radius: 30px;
    border: 1px solid #9E9E9E;
    outline-color: #45B751;
    padding-left: 20px;
}

.signUp {
    width: 99px;
    height: 33px;
    border: 1px solid #45B751;
    border-radius: 5px;
    background-color: #fff;
    color: #45B751;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
    margin:0 20px;
}

.signUp:hover {
    color: white;
    background-color: #45B751;
    border: none;
}

.logIn {
    width: 89px;
    height: 35px;
    background-color: #45B751;
    border: none;
    color: white;
    border-radius: 5px;
    margin-right: 20px;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
}

.logIn:hover {
    color: #45B751;
    background-color: #fff;
    border: 1px solid #45B751;
}