.container{
    width:100vw;
    min-width: 1440px;
    height:960px;
    display: flex;
    justify-content: center;
}
.main{
    margin-top: 100px;
    max-width: 1440px;
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    border: 2px solid #45B751;
    border-radius: 10px;
}
.leftSection{
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.rightSection{
    width: 50%;
    height:100%;
    background-image: url("../../../public/image/logInImg.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.logInBox{
    width: 326px;
    height:400px;
    display: flex;
    flex-direction: column;

}
.loginMain{
    width: 326px;
    height:400px;
}
.loginBtn{
    width: 326px;
    height: 46px;
    border:none;
    border-radius: 8px;
    margin-top: 40px;
    transition: transform 0.2s;
    cursor: pointer;
    background-color: #45b751;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.loginBtn:hover{
    transform: scale(1.05);
}
.container input{
    width: 316px;
    height: 48px;
    border: 2px solid #9E9E9E;
    border-radius: 8px;
    padding-left: 10px;
    margin-top: 20px;
    transition : outline-color 0.3s;
    outline:none;
}
.container input:focus{
    border: 3px solid #45B751;
}
.findId{
    margin-top: 20px;
    width: 326px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.logInBox a{
    text-decoration:none;
    color: #00cfff;
    transition: color 0.2s;
}
.logInBox a:hover{
    color: #ff0000;
}
.findPw{
    margin-top: 20px;
    width: 326px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.copyright{}
