.no-results {
  position: relative;
  min-height: 450px;
  background: url('../../../public/image/book.png') no-repeat center 90%;
  background-size: 15%;
}
.no-results > p {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-results > p > span {
  font-size: 1.1rem;
  color: #464646;
}
