/* App.css */
/* 게시판 컨테이너 스타일 */

*{
    margin: 0; padding: 0;
    font-family: 'kakao';
    font-weight: bold;
}


@font-face {
    font-family: 'kakao';
    src:url("../../fonts/KakaoRegular.ttf");
}


.table {
    border: 2px solid black;
    text-align: center;
    width: 100%;
}

/* 게시판 제목 스타일 */
h1 {
    margin-bottom: 20px;
}


/* 게시글 목록 행 스타일 */


/* 새 글 작성 버튼 스타일 */
.btn-primary {
    margin-top: 20px;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    margin: 0 3px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.page-button.active {
    background-color: #45b751;
    color: #fff;
}

.page-button.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.page-button:hover {
    background-color: #007bff;
    color: #fff;
}

