/* App.css */
/* 게시판 컨테이너 스타일 */

*{
    margin: 0; padding: 0;
    font-family: 'kakao';
    font-weight: bold;
}

@font-face {
    font-family: 'kakao';
    src:url("../../fonts/KakaoRegular.ttf");
}
.boardMainWriteButton {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardMainWriteButton button {
    width: 100px;
    height: 35px;
    background-color: #45B751;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* 게시판 메인 페이지 스타일 */
.boardMainContainer {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    border: 2px solid #45b751;
}

.boardMainContainer h1 {
    width: 300px;
    text-align: center;
    padding-bottom:10px;
    background-color: transparent;
    border-bottom: 2px solid #45b751;
}

.boardMainTitle {
    width: 300px;
    text-align: center;
    padding-bottom: 10px;
    background-color: transparent;
    border-bottom: 2px solid #45b751;
    margin: 0 auto 20px;
    font-size: 24px;
}

.boardMainSearch button {
    width: 45px;
    height: 45px;
    background-color: #45B751;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* 게시글 목록 행 스타일 */

.tableContainer {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ccc;
    font-size: 14px;
    background-color: #fff; /* 배경색을 설정합니다 */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tableContainer tr:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}


.tableContainer th,
.tableContainer td {
    border: 1px solid #ccc;
    padding: 11px;
    text-align: center;
}

.tableContainer th {
    color: white;
    background-color:  #45B751;
    border-color: #ccc; /* 테두리 색상을 설정합니다 */
}

.tableContainer td {
    border-color: #ddd;
}


.createContainer {
    margin-bottom: 80px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createTitle {
    margin-top: 30px;
    text-align: center;
    color: #45b751;
}
.createForm {
    border: 2px solid #45b751;
    padding: 20px;
    width: 50vw;
    border-radius: 8px;
}
.createFormRow {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.createFormCol {
    width: 100%;

}
.createFormGroup {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}
.createSelect {
    margin-top: 10px;
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.createError {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}
.createSubmitBtn {
    background-color: #45b751;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.createSubmitBtn:hover {
    background-color: #3a9743;
}


.detailContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #45b751;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.detailHeader {
    width: 300px;
    margin: 0 auto; /* 가로 중앙 정렬 */
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid #45b751;
    padding-bottom: 20px;
}

.detailHeader h2 {
    font-size: 18px;
    color: #333;

}
.detailTitle {
    margin-top: 20px;
    width: 80px;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid #888;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.detailContent {
    height: 65vh;
    margin-bottom: 15px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #45b751;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detailContent a {
    color: #007bff;
    text-decoration: underline;
}

.detailAuthor {
    margin-top: 10px;
    color: #777;
    font-size: 14px;
}

.detailDate {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

.detailBtnGroup {
    margin-top: 20px;
}

.detailUpdateBtn, .detailBackBtn, .detailDeleteBtn {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #45b751;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.detailDeleteBtn:hover {
    background-color: red;
}
.detailUpdateBtn:hover {
    background-color: blue;

}

.detailBackBtn:hover{
    background-color: #3b944e;
}

/* 스피너 컨테이너 스타일 */
.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* 스피너의 높이에 맞게 조정하세요 */
}

/* 스피너 스타일 */
@keyframes spinnerAnimation {
    to { transform: rotate(360deg); }
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spinnerAnimation 1s linear infinite;
}

.qnaContainer {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items: center;
    width: 100%;
    padding: 20px 0px 30px 0px;
    margin: 20px 0px 50px 0px;
}
.qnaTitle {
    width: 300px;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid #45B751;
    padding-bottom: 10px;
    margin-bottom: 60px;
    margin-top: 20px;
}
.qnaList {
    width: 50%;

}

.qnaData {
    border: 4px solid #ccc;
    margin-bottom: 25px;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding-left: 15px;
}

.qnaQuestion {
    font-size: 15px;
    height: 35px;
    color: black;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.qnaQuestion.active {
    background-color: #e0e0e0;
}

.qnaAnswer {
    font-size: 14px;
    padding-left: 15px;
    display: block;
}

/* 공지사항 컨테이너 스타일 */
.noticeContainer {
    margin-top: 12px;
    padding: 12px;
    border: 2px solid #45b751;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    line-height: 1.5;

}

.noticeTitle {
    width: 300px;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid #45B751;
    padding-bottom: 10px;
    margin: 0 auto 20px;
    font-size: 24px;
}
.noticeContent {
    border: 2px solid #ccc;
    margin-bottom: 20px;
    background-color: #f2f2f2; /* 원하는 배경색에 맞게 수정 */
    border-radius: 8px; /* 원하는 스타일에 맞게 수정 */
    padding: 20px; /* 원하는 패딩값에 맞게 수정 */
}

.noticeContent h5 {
    font-size: 16px;
    color: #333;
}

.noticeContent p {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.noticeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.noticeHelpBtn {
    background-color: #45b751; /* 원하는 버튼 색상에 맞게 수정 */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.noticeHelpBtn:hover {
    background-color: #3a9743; /* 마우스 호버 시 색상 변화 */
}

.noticeCollapseText {
    font-size: 14px;
    color: #333;
}

.categoryContainer {
    display: flex;
    justify-content: center;
    margin: 20px; /* 카테고리 버튼과 검색 입력 필드 사이의 여백 조절 */
}

.categoryButton {
    width: 80px; /* 버튼의 너비 조정 */
    height: 30px; /* 버튼의 높이 조정 */
    background-color: #f2f2f2; /* 카테고리 버튼 배경색 */
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 13px; /* 글꼴 크기 조정 */
}

.categoryButton.active {

    background-color: #45b751; /* 선택된 카테고리 버튼 배경색 */
    color: white; /* 선택된 카테고리 버튼 글자색 */
}