.reply {
    margin-top: 30px;
}

.replyList li {
    margin-top: 12px;
    padding: 12px;
    border: 2px solid #45b751;
    background-color: #f5f5f5;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    line-height: 1.5;

}

.replyContent {
    margin-bottom:5px;
    font-size:14px;
    word-wrap: break-word; /* 단어 단위로 자동 줄바꿈 */

}
.replyInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 8px;
}

.replyAuthor,
.replyDate {
    font-size: 11px;
    color: #888;
}

.replyForm {
    width: 400px;
    margin-top: 20px;

}
.replyInput {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.replySubmit {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #45b751;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 8px;
}
.replySubmit:hover {
    background-color: #3b944e;
}
.replyBtnGroup {
    margin-top: 8px;
}
.detailBtnGroup {
    margin-top: 20px;
}

.detailUpdateBtn, .detailBackBtn, .detailDeleteBtn {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #45b751;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.detailDeleteBtn:hover {
    background-color: red;
}
.detailUpdateBtn:hover {
    background-color: blue;
}

.detailBackBtn:hover{
    background-color: #3b944e;
}
