a {
  text-decoration: none;
  color: black;
}
.container{
  width:90%;
  min-width: 1200px;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}
.main{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hot-item {
  font-weight: bold;
  margin: 40px 0;
}

.hot-item-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hot-item-list >  li {
  width: 280px;
}

.hot-item-list > li > .book-info .author, .hot-item-list > li > .book-info .publisher, 
.hot-item-list > li > .book-info .category {
  color: #595959;
  font-size: 0.9rem;
}

.hot-item-list > li > .book-info {
  width: 83%;

}




