.link {
  text-decoration: none;
  color: black;
}
.container{
  width:90%;
  min-width: 1200px;
  max-width: 1600px;
  margin: 50px auto;
}
.hotItem {
  font-weight: bold;
  margin: 40px 0;
}

.hotItemList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hotItemList >  li {
  width: 280px;
}

.author, .category {
  color: #595959;
  font-size: 0.9rem;
}

.bookInfo {
  width: 90%;
}

.bookTitle {
  font-size: 1.1rem;
  padding: 10px 0;
}

.loading {
  height: 500px;
  position: relative;
}

.loading > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




