.link {
  text-decoration: none;
}
.container{
  width:90%;
  min-width: 1200px;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}
.main{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hotItem {
  font-weight: bold;
  margin: 40px 0;
}

.hotItemList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hotItemList >  li {
  width: 280px;
}

.author, .category {
  color: #595959;
  font-size: 0.9rem;
}

.bookInfo {
  width: 90%;
}

.bookTitle {
  font-size: 1.1rem;
  padding: 10px 0;
}




