.container{
    width:100%;
    min-height:calc(100% - 300px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main{
    width: 300px;
    height: 400px;
    border: 3px solid #45b751;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notification{
    color: #9E9E9E;
    font-size: 13px;
}
.main button{
    width: 200px;
    height: 50px;
    background-color: #45b751;
    border:none;
    cursor: pointer;
    transition: background-color 0.3s,color 0.3s;
    color: white;
    margin-top: 150px;
}
.main button:hover{
    border: 1px solid #45b751;
    background-color: #ffffff;
    color: black;
}
.main input{
    width:390px;
    height: 50px;
    background-color: #dfe3f8;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    padding-left: 10px;
}
input:focus{
    border:3px solid #45b751;
    text-align: left;
}