.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container [class *=Box] > p {
    font-size: 20px;
    margin: 80px 0 20px 10px;
}

.container > h1 {
    margin: 20px 0 60px 0;
}

.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    height: 100%;
    border: 3px solid #4DAC27;
    margin-bottom: 100px;
}

.section {
    width: 100%;
    min-height: 150px;
    height: auto;
    padding-top: 20px;
}

.section1 {
    width: 100%;
    min-height: 150px;
    display: flex;
    height: auto;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
}

.section1 > h1 {
    font-size: 40px;
}

.section1 > button {
    width: 250px;
    height: 100px;
    font-size: 40px;
}

.orderProductHeader {
    display: flex;
    width: 100%;
    height: 30px;
    border: 2px solid #bab9b9;
    margin-bottom: 30px;
}

.orderProduct {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    border: 1px solid #b7b7b7;
}

.cover, .title, .author, .amount, .priceSales, .totalPrice {
    line-height: 25px;
    text-align: center;
    border-right: 1px solid #cacaca;
}

.cover {
    width: 15%;
    height: 95%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}


.title {
    width: 30%;
}

.author {
    width: 25%
}

.amount {
    width: 10%;
}

.priceSales {
    width: 10%;
}

.totalPrice {
    width: 10%;
    border-right: none;
}

.cover > img {
    height: 150px;
}

.deliveryStateBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.deliveryStateHeader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #e8e8e8;
    color: black;
}

.delivery, .deliveryStart, .deliveryEnd, .deliveryDiscount, .deliveryAddress {
    height: 100%;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
}

.delivery {
    width: 10%;
}

.deliveryStart {
    width: 15%;
}

.deliveryEnd {
    width: 15%;
}

.deliveryDiscount {
    width: 15%;
}

.deliveryAddress {
    width: 45%;
}

.receiverBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.receiverHeader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #e8e8e8;
    color: black;
}

.receiverName, .receiverTel, .receiverAddress {
    height: 100%;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
}

.receiverName {
    width: 20%;
}

.receiverTel {
    width: 20%;
}

.receiverAddress {
    width: 60%;
}

.paymentInfoBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.paymentInfoHeader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #e8e8e8;
    color: black;
}

.paymentTotal, .paymentMethod, .paymentDeliveryFee, .paymentDeliveryDiscount, .paymentMemberDiscount, .paymentCouponDiscount, .paymentResultTotal {
    height: 100%;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
}

.paymentTotal {
    width: 15%;
}

.paymentMethod {
    width: 15%;
}

.paymentDeliveryFee {
    width: 13.75%;
}

.paymentDeliveryDiscount {
    width: 13.75%;
}

.paymentMemberDiscount {
    width: 13.75%;
}

.paymentCouponDiscount {
    width: 13.75%;
}

.paymentResultTotal {
    width: 15%;
}

.customerInfoBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.customerInfoHeader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #e8e8e8;
    color: black;
}

.customerId, .customerName, .customerEmail, .customerTel {
    height: 100%;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
}

.customerId {
    width: 15%;
}

.customerName {
    width: 15%;
}

.customerEmail {
    width: 50%;
}

.customerTel {
    width: 30%;
}