.tbl-item-wrap {
  width: 70%;
  border: 1px solid black;
  
}

.tbl-item-wrap > .tbl-item {
  border: 1px solid gray;
  width: 100%;
}

.tbl-item-wrap > .tbl-item > caption {
  font-size: 2rem;
  text-align: left;
}

.tbl-item-wrap > .tbl-item > tbody {
  
}

.tbl-item-wrap > .tbl-item > tbody > tr {
  
}

.tbl-item-wrap > .tbl-item > tbody > tr > td {
  padding: 30px;
  border: 1px solid green;
}

.tbl-item-wrap > .tbl-item > tbody > tr > .checkbox {
  width: 80px;
  text-align: center;
  border: 1px solid red;
}

.tbl-item-wrap > .tbl-item > tbody > tr > .checkbox input {
  transform: scale(1.5);

}

.tbl-item-wrap > .tbl-item > tbody > tr > .item > .item-area {
  display: flex;
}